* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto Mono', monospace;
  }

 a {
    text-decoration: none;
    color: rgb(36, 119, 183);
 }

 body {
   background-color: #000000;
   }

  /*
  z- score is for the order of the layers. The higher the numbers appear on top of lower ones.
  */
 
.overlay {
   z-index: 1;
   width: 100%;
   height: 100%;
   position: fixed;
   background-repeat: none;
   height: 100vh;
   background-image: url('rise.png');
   background-size: cover;
 } 

 nav {
    position: absolute; 
    width: 100%;
    height: 90px;
    background: none;
    z-index: 1;
    
 }


/* the ul is the acutal list of logos */
 nav ul {
    position: relative;
    top: 50%;
    width: 100%;
     transform: translateY(-50%);
    padding: 50%;
    gap: 30px;
    display: flex;
    justify-content: center;
    list-style: none; 
    
 }

 .centered {
    z-index: 1;
    position: relative;
    color: rgb(251, 251, 251);
    text-align: center;
    padding-top: 150px;

 }

 h1 {
    font-family: 'Space grotesk', monospace;
    font-weight: 700;
    font-size: 120px;
 }

 h3 {
   font-family: 'Space grotesk', monospace;
   font-weight: 700;
   font-size: 90px;
   padding-top: 100px;
   
 }

 p {
    padding-bottom: 60px;
    font-size: 30px;
    color: rgb(255, 255, 255);
 }

   .subtitle {
      font-size: 60px;
      color: white;
   }

   .construction {
      font-size: 30px;
      color: white;
   }

   .expertise {
    display: inline-block;
    padding-top: 200px;
    font-family: 'Courier New', Courier, monospace;
    width: 100%;

  }

  .Projects h3 {
   padding-top: 100px;
   font-family: 'Space grotesk', monospace;
   font-weight: 700;
   
  }

.Projects {
  padding-bottom: 100px;
}

.grid {
   display: grid;
   grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
   padding-bottom: 500px;
 }

.img-wrapper {
   position: relative;
   overflow: hidden;
 }
 
 .img-wrapper > img {
   display: block;
   width: 100%;
   aspect-ratio: 1/1;
   object-fit: cover;
   object-position: center;
 }
 
 .img-wrapper > .content {
   position: absolute;
   inset: 0;
   font-size: 1rem;
   padding: 1rem;
   background: rgba(255, 255, 255, 0.4);
   display: flex;
   justify-content: center;
   overflow: hidden;

 }

   .img-wrapper > img,
   .img-wrapper > .content {
   
   transition: 222ms ease-in-out;
   
}

.img-wrapper > .content.fade {
   opacity: 0;
}
.img-wrapper:hover > .content.fade {
   opacity: 1;
 }
 
.contact h3 {
   color: #ffffff;
   text-align: center;
 }
 
 .contact ul {
   padding: 0;
   font-size: 30px;
   text-align: center;
   justify-content: center;
   align-items: center;
   list-style: none;
   position: relative;
   padding-bottom: 20px;
}

  /* .contact ul {
   color: #ffffff;
   padding-top: 500px;
   padding-bottom: 0;
   text-align: center;
   display: flex;
   justify-content: center;
   list-style: none;
   position: relative;
 } */
 .contact ul li {
   margin: 30px 0; /* Adjust the margin value as per your desired spacing */
}

/*
 .inner-cursor {
    position: fixed;
    left: 10px;
    width: 7px;
    height: 7px;
    transform: translate(-50%, -50%) scale(1);
   
    background-color: rgba(30, 152, 223, 0.5); 
    border-radius: 50%;
    pointer-events: none;
    transition: transform 0.5s;
 }
  
.outer-cursor {
    position: fixed;
    left: 10px;
    width: 25px;
    height: 25px;
    transform: translate(-50%, -50%) scale(1);
    border: 1px solid #1e98df; 
    border-radius: 50%;
    transition: .02s;
}

*/
section {
  overflow-y: hidden; /* add scroll only to the y-axis */

}



.content {
  max-width: 800px; /* set a max-width for the content to prevent it from stretching too much */
  text-align: center; /* center the text horizontally */
  margin: 0 auto; /* center the content container horizontally */
}

p {
  margin-bottom: 150px;
}

.hidden {
  opacity: 0;
  filter: blur(5px);
  transform: translateX(-10%);
  transition: all 3s;
}

/* .effect {

}  */


.show {
  opacity: 1;
  filter: blur(0);
  transform: translateX(0);
   transition: all s;
}